@import "tailwindcss";

:root {
  --bg-color: #eeeeee;
  --card-color: #ffffff;
  --text-color: black;
}

.dark {
  --bg-color: #303030;
  --card-color: #424242;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}